@{
    ViewBag.Title = "About Identifyability";
}

<h1>@ViewBag.Title.</h1>

<article>
    <p>
        This website uses <a href="http://www.copasi.org">COPASI</a> to gernerate (and perform) an identifyability 
        analysis of an already good fit. 
    </p>
</article>
