@{
    ViewBag.Title = "About";
}

<h1>@ViewBag.Title.</h1>

<article>
    <p>
        This application allows you to overwrite the current model state, or the start 
        conditions for a <a href="http://www.copasi.org">COPASI</a> Parameter Estimation 
        or Optimization, out of a Parameter estimation / Optimizaton Report file. 
    </p>
</article>
